/* Stylesheet */

* { 
background-color: rgb(78, 76, 76);
text-align: center;
}

h1, h2, h3, li {
    color: rgb(150, 115, 10);
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
}

a {
color: cornflowerblue;
}

.list, p {
    text-align: justify;
    color:rgb(150, 115, 10);
    word-spacing: 1px;
}